In [3]:
import pandas as pd
import numpy as np

In [5]:

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dense, Dropout, SpatialDropout1D
from tensorflow.keras.layers import Embedding

In [8]:
Whatsapp = spark.read.csv("G:/NLP Project/Whatsapp_Rand.csv")
#print it
csv_2_df.show()

NameError: name 'spark' is not defined

In [13]:
Whatsapp= pd.read_csv("G:/NLP Project/Twitter.csv")

In [14]:
Whatsapp

Empty DataFrame
Columns: [Date, ID, url, User_Username, sourceLabel, User_location, Content, Likecount, Retweetcount]
Index: []

In [ ]:
Whatsapp.columns

Index(['Date', 'Comment', 'Group'], dtype='object')

In [ ]:
Whatsapp_df = Whatsapp[['Comment','Group']]
print(Whatsapp_df.shape)
Whatsapp_df.head(5)

(2216, 2)

                                             Comment     Group
0  Yeah, so the positives outweigh the negatives ...  Football
1                Bana. Hao watu walishindwa kufunga.  Football
2  Huyu lakini si tuseme ukweli, games ndogo tu s...  Football
3                                           Clearly.  Football
4                 Angeangukia hii result mbaya sana.  Football